/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%; /*横幅いっぱい　*/
  height: 50px; /*高さ50px */
  background-color: red; /*背景色red */
}

.main-visual {
width: 100%; /*横幅いっぱい*/
height: 500px; /*高さ300px*/
background-color:orange; /*背景色orange*/
}

.main {
  width: 960px; /*横幅いっぱい*/
  height: 0 auto; /*高さ1400px(多めに設定)*/
  background-color: green; /*背景色green*/
  display: flex; /*Flexboxの利用*/
  justify-content: center; /*子要素の横並び・中央寄せ*/
}

.blog {
  width: 500px;
  height: 1400px;
  background-color: limegreen;
}

.sidebar-left  {
  width: 230px;
  height: 1400px;
  background-color: palegreen;
}

.sidebar-right {
  width: 230px;
  height: 1400px;
  background-color: palegreen;
}

.footer {
  width: 100%; /*横幅いっぱい*/
  height: 100px; /*高さ120px*/
  background-color:blue; /*背景色blue*/
}